<div class="main-dash">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="<%= url_for(action: 'all', controller: 'home', only_path: false) %>">LIMS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

        
   
    <div class="main m-0">
        <div class="row mb-2 mx-auto">
            <div class="col-3 border-right"> 
                <div class="row mt-3" id="map-parent">
                <div id="map" class="col-12 border-bottom"></div>
                 </div>
                 <div class="row">
                    <div class="col-12">
                    <div>
                        <svg height="50" width="30">
                            <circle cx="15" stroke="#b3cccc" cy="23" r="7" fill="green" />
                        </svg>
                            <span>Last Synced within 24hrs</span>
                    </div>
                    <div>
                        <svg height="50" width="30">
                            <circle stroke="#b3cccc" cx="15" cy="23" r="7" fill="#ffcc00" />
                        </svg>
                            <span>Last Synced past 24hrs within 48hrs</span>
                    </div>
                    <div>
                        <svg height="50" width="30">
                            <circle stroke="#b3cccc" stroke-width="1" cx="15" cy="23" r="7" fill="red" />
                        </svg>
                            <span>Last Synced past 48hrs</span>
                    </div>

                    </div>
                 </div>
            </div>
            
            <div class="col-9 p-3 mb-5 bg-white rounded">
            <p class="border-bottom mb-2 p-2 title-labels"> <span class="text-muted">Lab:</span><span class="ml-1 font-weight-bold">ALL(<%= @sites.length %>)</span>  <span class="text-muted ml-5">Date:</span><span class="ml-1 font-weight-bold" id="date-today"></span> </p>
            <progress class="mx-auto my-1" max="120"></progress> 
            <h4>Orders</h4>
                <div class="row mb-3 mt-3">
                    
                    <div class="col-4 mb-4">
                        <div class="card">
                            <div class="card-body p-0">
                            <div class="row mt-0 p-1">
                                <div class="col-6 border-right">
                                    <p class="text-left m-0 text-muted pl-2">Cumulative</p>
                                    <h5 class="text-center card-title m-0 p-1" style="color:black; font-size:24px;"  id="total-orders-submitted"><%= @total_orders %></h5>
                                </div>
                                <div class="col-6">
                                    <p class="text-left m-0 text-muted">Today</p>
                                    <h5 class="text-center card-title m-0 p-1"><span class="total-orders-submitted"><%= @total_orders_today %></span></h5>                                    
                                </div>
                            </div>                                                      
                                <p class="card-text border-top text-center p-2">Total Orders Submitted</p>
                            </div>
                        </div>
                    </div>


                    <div class="col-4 mb-4">
                        <div class="card">
                            <div class="card-body p-0">
                            <div class="row mt-0 p-1">
                                <div class="col-6 border-right">
                                    <p class="text-left m-0 text-muted pl-2">Cumulative</p>
                                    <h5 class="text-center card-title m-0 p-1" style="color:green; font-size:24px;" id="total-orders-accepted"><%= @total_orders_accepted %></h5>
                                </div>
                                <div class="col-6">
                                    <p class="text-left m-0 text-muted">Today</p>
                                    <h5 class="text-center card-title m-0 p-1"><span class="total-orders-accepted"><%= @total_orders_accepted_today %></span></h5>                                    
                                </div>
                            </div>                                                      
                                <p class="card-text border-top text-center p-2">Total Orders Accepted</p>
                            </div>
                        </div>
                    </div>


                    <div class="col-4 mb-4">
                        <div class="card">
                            <div class="card-body p-0">
                            <div class="row mt-0 p-1">
                                <div class="col-6 border-right">
                                    <p class="text-left m-0 text-muted pl-2">Cumulative</p>
                                    <h5 class="text-center card-title m-0 p-1" style="color:#99a364; font-size:24px;" id="total-orders-to-be-accepted"><%= @total_orders_to_be_accepted %></h5>
                                </div>
                                <div class="col-6">
                                    <p class="text-left m-0 text-muted">Today</p>
                                    <h5 class="text-center card-title m-0 p-1"><span class="total-orders-to-be-accepted"><%= @total_orders_to_be_accepted_today %></span></h5>                                    
                                </div>
                            </div>                                                      
                                <p class="card-text border-top text-center p-2">Total Orders To be Accepted</p>
                            </div>
                        </div>
                    </div>


                    <div class="col-4 mb-4">
                        <div class="card">
                            <div class="card-body p-0">
                            <div class="row mt-0 p-1">
                                <div class="col-6 border-right">
                                    <p class="text-left m-0 text-muted pl-2">Cumulative</p>
                                    <h5 class="text-center card-title m-0 p-1" style="color:red; font-size:24px;" id="total-orders-rejected"><%= @total_orders_rejected %></h5>
                                </div>
                                <div class="col-6">
                                    <p class="text-left m-0 text-muted">Today</p>
                                    <h5 class="text-center card-title m-0 p-1"><span class="total-orders-rejected"><%= @total_orders_rejected_today %></span></h5>                                    
                                </div>
                            </div>                                                      
                                <p class="card-text border-top text-center p-2">Total Orders Rejected</p>
                            </div>
                        </div>
                    </div>

                </div>
           
            <h4>Tests</h4>
                <div class="row mt-3 border-bottom">
                 
                    <div class="col-4 mb-4">
                        <div class="card">
                            <div class="card-body p-0">
                            <div class="row mt-0 p-1">
                                <div class="col-6 border-right">
                                    <p class="text-left m-0 text-muted pl-2">Cumulative</p>
                                    <h5 class="text-center card-title m-0 p-1" style="color:black; font-size:24px;" id="total-tests"><%= @total_tests %></h5>
                                </div>
                                <div class="col-6">
                                    <p class="text-left m-0 text-muted">Today</p>
                                    <h5 class="text-center card-title m-0 p-1"><span class="total-tests"><%= @total_tests_today %></span></h5>                                    
                                </div>
                            </div>                                                      
                                <p class="card-text border-top text-center p-2">Total Tests</p>
                            </div>
                        </div>
                    </div>


                    <div class="col-4 mb-4">
                        <div class="card">
                            <div class="card-body p-0">
                            <div class="row mt-0 p-1">
                                <div class="col-6 border-right">
                                    <p class="text-left m-0 text-muted pl-2">Cumulative</p>
                                    <h5 class="text-center card-title m-0 p-1" style="color:green; font-size:24px;" id="total-tests-verrified"><%= @total_tests_verrified %></h5>
                                </div>
                                <div class="col-6">
                                    <p class="text-left m-0 text-muted">Today</p>
                                    <h5 class="text-center card-title m-0 p-1"><span class="total-tests-verrified"><%= @total_tests_verrified_today %></span></h5>                                    
                                </div>
                            </div>                                                      
                                <p class="card-text border-top text-center p-2">Total Tests Authorized</p>
                            </div>
                        </div>
                    </div>


                    <div class="col-4 mb-4">
                        <div class="card">
                            <div class="card-body p-0">
                            <div class="row mt-0 p-1">
                                <div class="col-6 border-right">
                                    <p class="text-left m-0 text-muted pl-2">Cumulative</p>
                                    <h5 class="text-center card-title m-0 p-1" style="color:#2a5e52; font-size:24px;" id="total-tests-with-results"><%= @total_tests_with_results %></h5>
                                </div>
                                <div class="col-6">
                                    <p class="text-left m-0 text-muted">Today</p>
                                    <h5 class="text-center card-title m-0 p-1"><span class="total-tests-with-results"><%= @total_tests_with_results_today %></span></h5>                                    
                                </div>
                            </div>                                                      
                                <p class="card-text border-top text-center p-2">Total Tests Unauthorized</p>
                            </div>
                        </div>
                    </div>


                    <div class="col-4 mb-4">
                        <div class="card">
                            <div class="card-body p-0">
                            <div class="row mt-0 p-1">
                                <div class="col-6 border-right">
                                    <p class="text-left m-0 text-muted pl-2">Cumulative</p>
                                    <h5 class="text-center card-title m-0 p-1" style="color:#f28a52; font-size:24px;" id="total-tests-waiting-results"><%= @total_tests_waiting_results%></h5>
                                </div>
                                <div class="col-6">
                                    <p class="text-left m-0 text-muted">Today</p>
                                    <h5 class="text-center card-title m-0 p-1"><span class="total-tests-waiting-results"><%= @total_tests_waiting_results_today %></span></h5>                                    
                                </div>
                            </div>                                                      
                                <p class="card-text border-top text-center p-2">Total Tests waiting Results</p>
                            </div>
                        </div>
                    </div>
                   

                     <div class="col-4 mb-4">
                        <div class="card">
                            <div class="card-body p-0">
                            <div class="row mt-0 p-1">
                                <div class="col-6 border-right">
                                    <p class="text-left m-0 text-muted pl-2">Cumulative</p>
                                    <h5 class="text-center card-title m-0 p-1" style="color:#99a364; font-size:24px;" id="total-tests-to-be-started"><%= @total_tests_to_be_started %></h5>
                                </div>
                                <div class="col-6">
                                    <p class="text-left m-0 text-muted">Today</p>
                                    <h5 class="text-center card-title m-0 p-1"><span class="total-tests-to-be-started"><%= @total_tests_to_be_started_today %></span></h5>                                    
                                </div>
                            </div>                                                      
                                <p class="card-text border-top text-center p-2">Total Tests to be started</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 mb-4">
                        <div class="card">
                            <div class="card-body p-0">
                            <div class="row mt-0 p-1">
                                <div class="col-6 border-right">
                                    <p class="text-left m-0 text-muted pl-2">Cumulative</p>
                                    <h5 class="text-center card-title m-0 p-1" style="color:red; font-size:24px;" id="total-tests-rejected"><%= @total_tests_rejected %></h5>
                                </div>
                                <div class="col-6">
                                    <p class="text-left m-0 text-muted">Today</p>
                                    <h5 class="text-center card-title m-0 p-1"><span class="total-tests-rejected"><%= @total_tests_rejected_today %></span></h5>                                    
                                </div>
                            </div>                                                      
                                <p class="card-text border-top text-center p-2">Total Tests Rejected</p>
                            </div>
                        </div>
                    </div>


                     <div class="col-4 mb-4">
                        <div class="card">
                            <div class="card-body p-0">
                            <div class="row mt-0 p-1">
                                <div class="col-6 border-right">
                                    <p class="text-left m-0 text-muted pl-2">Cumulative</p>
                                    <h5 class="text-center card-title m-0 p-1" style="color:red; font-size:24px;" id="total-tests-voided-failed"><%= @total_tests_voided %></h5>
                                </div>
                                <div class="col-6">
                                    <p class="text-left m-0 text-muted">Today</p>
                                    <h5 class="text-center card-title m-0 p-1"><span class="total-tests-voided-failed"><%= @total_tests_voided_today %></span></h5>                                    
                                </div>
                            </div>                                                      
                                <p class="card-text border-top text-center p-2">Total Tests Voided/Failed/Not done</p>
                            </div>
                        </div>
                    </div>
                </div>
        <div class="row mt-3">
            <div class="footer mb-2">
               <p class="text-muted">EGPAF &copy;2021</p>
            </div>
        </div>
            </div>
        </div>
    </div>

    </div>
    </div>

    </div>
    </div>
  </div>  
 
    <script src="/javascripts/scripts/main_dash.js" type="text/javascript"></script>
   
    <script>
    mapConfigColors = []
        runMapProcess();


        
        function processMap(){
            var loader = d3.xml("/images/Malawi.svg", function(xml) {
                document.getElementById("map").appendChild(xml.documentElement);     

                <% @sites.each do |site|
                    refPoints = [-9.331537, -17.158189, 32.674051, 35.969950];
                    offsets = [10, 295, 10, 710];
                    x = site[1][2].to_f
                    y = site[1][1].to_f

                    x = ((offsets[1] - offsets[0]) * ((x.abs - refPoints[2].abs) / (refPoints[3].abs - refPoints[2].abs)))

                    y = ((offsets[3] - offsets[2]) * ((y.abs - refPoints[0].abs) / (refPoints[1].abs - refPoints[0].abs)))
                %>
                        runAjaxCall("<%=site[0]%>");

                        $( document ).ajaxComplete(function(){
                            d3.select("#malawi").append("circle")
                                            .style("stroke", "white")
                                            .style("stroke-width", "1px")
                                            .style("fill", color)
                                            .style("margin", "auto")
                                            .attr("r", 4)
                                            .attr("class", "circle")
                                            .attr("cx", "<%= x %>")
                                            .attr("cy", "<%= y %>")
                                            .attr("color", color)
                                            .attr("value", "<%=site[1][0]%>")
                                            .attr("id","<%=site[0]%>")
                                            .on("mouseover", function(){
                                                d3.select(".circle").attr("r", 5);
                                                d3.select("#title6").text("<%=site[1][0]%>");
                                                d3.select("#" + this.id).attr("r", 6).style("z-index", "100");
                                            })
                                            .on("mouseout", function(){
                                                d3.select("#" + this.id).attr("r", 4).style("z-index", "10")
                                                        .style("fill", this.getAttribute("color"));
                                            })
                                            .on("click", function(){
                                                let url = `/labs?lab_name=<%=site[0]%>`
                                                window.open(url, '_blank').focus();
                                            })
                        })
                    
                <% end %>
            });
        }
		// Set map sync color code
		$(document).ajaxComplete(function(){
                        mapConfigColors.forEach(function(fillColor){
                            setTimeout(function(){
                                d3.selectAll(`#${fillColor[0]}`).style('fill', `${fillColor[1]}`);
				d3.selectAll(`#${fillColor[0]}`).attr('color', `${fillColor[1]}`);  
                                },3000)
                            })
                        });
         
            // ajax call function
            function ajaxCall(uri) {
                let selector = uri.replace("/query_lab_stats_", "").trim().split('?')[0].split('_').join('-');
                jQuery.ajax({
                    url: uri,
                    type: "Post",
                    dataType: "json",
                    success: function(res) {
                            color = determineSyncStatus(res);
                            setDateTitle();
                            mapConfigColors.push([res.lab, color])
                    },
                    error: function(err) {
                        console.log(err);
                    }
                })
            }

            function runAjaxCall(param){
                url = `/query_lab_stats_last_sync?lab_name=${param}`;
                ajaxCall(url);
            }

            function runMapProcess(){
                processMap();
                setInterval(function() {
                $('#map').remove();
                let div = document.createElement('div');
                div.classList.add('col-12', 'border-bottom');
                div.setAttribute('id','map');
                $('#map-parent').append(div);
                processMap();

            },240000);
            }
            function determineSyncStatus(response) {
                let now = new Date();
                let date = response.data;
                if(date==0){
                    color_status = "red"
                }
                else{
                    lastDateSync = date.replace(/-/g, '/');
                    let lastSyncDate = new Date(lastDateSync)
                    let syncStatus = now - lastSyncDate;
                    syncStatus = syncStatus / (3.6e+6);
                 
                    if (syncStatus <= 24){
                        color_status = "green"
                    }
                    else if (syncStatus > 24 && syncStatus <= 72){
                        color_status = "#ffcc00"
                    }
                    else{
                        color_status = "red"
                    }
                }               
                return color_status;
            }

            function setDateTitle(){
                let datePeriod = "<%= @period%>"
                datePeriod = datePeriod.replace(/-/g, '/');
                datePeriod = new Date(datePeriod);
                datePeriod = datePeriod.toDateString();
                $('#date-today').text(datePeriod)
            }

    </script>




