<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
     <link rel="stylesheet" href="/css/dashboard.css">
    <script src="/javascripts/jquery-3.5.1.js" type="text/javascript"></script>
    <script src="/javascripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="/javascripts/list.js" type="text/javascript"></script>

</head>

<body class="main-dash">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="<%= url_for(action: 'index', controller: 'home', only_path: false) %>">LIMS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

        
   
    <div class="main m-3">
        <div class="row mt-3">
            <div class="col-3 border-right">
                
                <p>map</p>
             
            </div>
            <div class="col-9 p-3 mb-5 bg-white rounded">
            <h4>Specimen Orders</h4>
                <div class="row mb-3 mt-3">
                    
                    <div class="col-4 mb-4">
                        <div class="card">
                            <div class="card-body p-0">
                            <div class="row mt-0 p-1">
                                <div class="col-6 border-right">
                                    <p class="text-left m-0 text-muted pl-2">Cumulative</p>
                                    <h5 class="text-center card-title m-0 p-1" style="color:black; font-size:24px;"  id="total-orders-submitted"><%= @total_orders %></h5>
                                </div>
                                <div class="col-6">
                                    <p class="text-left m-0 text-muted">Today</p>
                                    <h5 class="text-center card-title m-0 p-1"><span class="total-orders-submitted"><%= @total_orders_today %></span></h5>                                    
                                </div>
                            </div>                                                      
                                <p class="card-text border-top text-center p-2">Total Orders Submitted</p>
                            </div>
                        </div>
                    </div>


                    <div class="col-4 mb-4">
                        <div class="card">
                            <div class="card-body p-0">
                            <div class="row mt-0 p-1">
                                <div class="col-6 border-right">
                                    <p class="text-left m-0 text-muted pl-2">Cumulative</p>
                                    <h5 class="text-center card-title m-0 p-1" style="color:green; font-size:24px;" id="total-orders-accepted"><%= @total_orders_accepted %></h5>
                                </div>
                                <div class="col-6">
                                    <p class="text-left m-0 text-muted">Today</p>
                                    <h5 class="text-center card-title m-0 p-1"><span class="total-orders-accepted"><%= @total_orders_accepted_today %></span></h5>                                    
                                </div>
                            </div>                                                      
                                <p class="card-text border-top text-center p-2">Total Orders Accepted</p>
                            </div>
                        </div>
                    </div>


                    <div class="col-4 mb-4">
                        <div class="card">
                            <div class="card-body p-0">
                            <div class="row mt-0 p-1">
                                <div class="col-6 border-right">
                                    <p class="text-left m-0 text-muted pl-2">Cumulative</p>
                                    <h5 class="text-center card-title m-0 p-1" style="color:#99a364; font-size:24px;" id="total-orders-to-be-accepted"><%= @total_orders_to_be_accepted %></h5>
                                </div>
                                <div class="col-6">
                                    <p class="text-left m-0 text-muted">Today</p>
                                    <h5 class="text-center card-title m-0 p-1"><span class="total-orders-to-be-accepted"><%= @total_orders_to_be_accepted_today %></span></h5>                                    
                                </div>
                            </div>                                                      
                                <p class="card-text border-top text-center p-2">Total Orders To be Accepted</p>
                            </div>
                        </div>
                    </div>


                    <div class="col-4 mb-4">
                        <div class="card">
                            <div class="card-body p-0">
                            <div class="row mt-0 p-1">
                                <div class="col-6 border-right">
                                    <p class="text-left m-0 text-muted pl-2">Cumulative</p>
                                    <h5 class="text-center card-title m-0 p-1" style="color:red; font-size:24px;" id="total-orders-rejected"><%= @total_orders_rejected %></h5>
                                </div>
                                <div class="col-6">
                                    <p class="text-left m-0 text-muted">Today</p>
                                    <h5 class="text-center card-title m-0 p-1"><span class="total-orders-rejected"><%= @total_orders_rejected_today %></span></h5>                                    
                                </div>
                            </div>                                                      
                                <p class="card-text border-top text-center p-2">Total Orders Rejected</p>
                            </div>
                        </div>
                    </div>

                </div>
           
            <h4>Tests</h4>
                <div class="row mt-3 border-bottom">
                 
                    <div class="col-4 mb-4">
                        <div class="card">
                            <div class="card-body p-0">
                            <div class="row mt-0 p-1">
                                <div class="col-6 border-right">
                                    <p class="text-left m-0 text-muted pl-2">Cumulative</p>
                                    <h5 class="text-center card-title m-0 p-1" style="color:black; font-size:24px;" id="total-tests"><%= @total_tests %></h5>
                                </div>
                                <div class="col-6">
                                    <p class="text-left m-0 text-muted">Today</p>
                                    <h5 class="text-center card-title m-0 p-1"><span class="total-tests"><%= @total_tests_today %></span></h5>                                    
                                </div>
                            </div>                                                      
                                <p class="card-text border-top text-center p-2">Total Tests</p>
                            </div>
                        </div>
                    </div>


                    <div class="col-4 mb-4">
                        <div class="card">
                            <div class="card-body p-0">
                            <div class="row mt-0 p-1">
                                <div class="col-6 border-right">
                                    <p class="text-left m-0 text-muted pl-2">Cumulative</p>
                                    <h5 class="text-center card-title m-0 p-1" style="color:green; font-size:24px;" id="total-tests-verrified"><%= @total_tests_verrified %></h5>
                                </div>
                                <div class="col-6">
                                    <p class="text-left m-0 text-muted">Today</p>
                                    <h5 class="text-center card-title m-0 p-1"><span class="total-tests-verrified"><%= @total_tests_verrified_today %></span></h5>                                    
                                </div>
                            </div>                                                      
                                <p class="card-text border-top text-center p-2">Total Tests Authorized</p>
                            </div>
                        </div>
                    </div>


                    <div class="col-4 mb-4">
                        <div class="card">
                            <div class="card-body p-0">
                            <div class="row mt-0 p-1">
                                <div class="col-6 border-right">
                                    <p class="text-left m-0 text-muted pl-2">Cumulative</p>
                                    <h5 class="text-center card-title m-0 p-1" style="color:#2a5e52; font-size:24px;" id="total-tests-with-results"><%= @total_tests_with_results %></h5>
                                </div>
                                <div class="col-6">
                                    <p class="text-left m-0 text-muted">Today</p>
                                    <h5 class="text-center card-title m-0 p-1"><span class="total-tests-with-results"><%= @total_tests_with_results_today %></span></h5>                                    
                                </div>
                            </div>                                                      
                                <p class="card-text border-top text-center p-2">Total Tests Unauthorized</p>
                            </div>
                        </div>
                    </div>


                    <div class="col-4 mb-4">
                        <div class="card">
                            <div class="card-body p-0">
                            <div class="row mt-0 p-1">
                                <div class="col-6 border-right">
                                    <p class="text-left m-0 text-muted pl-2">Cumulative</p>
                                    <h5 class="text-center card-title m-0 p-1" style="color:#f28a52; font-size:24px;" id="total-tests-waiting-results"><%= @total_tests_waiting_results%></h5>
                                </div>
                                <div class="col-6">
                                    <p class="text-left m-0 text-muted">Today</p>
                                    <h5 class="text-center card-title m-0 p-1"><span class="total-tests-waiting-results"><%= @total_tests_waiting_results_today %></span></h5>                                    
                                </div>
                            </div>                                                      
                                <p class="card-text border-top text-center p-2">Total Tests waiting Results</p>
                            </div>
                        </div>
                    </div>
                   

                     <div class="col-4 mb-4">
                        <div class="card">
                            <div class="card-body p-0">
                            <div class="row mt-0 p-1">
                                <div class="col-6 border-right">
                                    <p class="text-left m-0 text-muted pl-2">Cumulative</p>
                                    <h5 class="text-center card-title m-0 p-1" style="color:#99a364; font-size:24px;" id="total-tests-to-be-started"><%= @total_tests_to_be_started %></h5>
                                </div>
                                <div class="col-6">
                                    <p class="text-left m-0 text-muted">Today</p>
                                    <h5 class="text-center card-title m-0 p-1"><span class="total-tests-to-be-started"><%= @total_tests_to_be_started_today %></span></h5>                                    
                                </div>
                            </div>                                                      
                                <p class="card-text border-top text-center p-2">Total Tests to be started</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 mb-4">
                        <div class="card">
                            <div class="card-body p-0">
                            <div class="row mt-0 p-1">
                                <div class="col-6 border-right">
                                    <p class="text-left m-0 text-muted pl-2">Cumulative</p>
                                    <h5 class="text-center card-title m-0 p-1" style="color:red; font-size:24px;" id="total-tests-rejected"><%= @total_tests_rejected %></h5>
                                </div>
                                <div class="col-6">
                                    <p class="text-left m-0 text-muted">Today</p>
                                    <h5 class="text-center card-title m-0 p-1"><span class="total-tests-rejected"><%= @total_tests_rejected_today %></span></h5>                                    
                                </div>
                            </div>                                                      
                                <p class="card-text border-top text-center p-2">Total Tests Rejected</p>
                            </div>
                        </div>
                    </div>


                     <div class="col-4 mb-4">
                        <div class="card">
                            <div class="card-body p-0">
                            <div class="row mt-0 p-1">
                                <div class="col-6 border-right">
                                    <p class="text-left m-0 text-muted pl-2">Cumulative</p>
                                    <h5 class="text-center card-title m-0 p-1" style="color:red; font-size:24px;" id="total-tests-voided-failed"><%= @total_tests_voided %></h5>
                                </div>
                                <div class="col-6">
                                    <p class="text-left m-0 text-muted">Today</p>
                                    <h5 class="text-center card-title m-0 p-1"><span class="total-tests-voided-failed"><%= @total_tests_voided_today %></span></h5>                                    
                                </div>
                            </div>                                                      
                                <p class="card-text border-top text-center p-2">Total Tests Voided/Failed/Not done</p>
                            </div>
                        </div>
                    </div>
                </div>
        <div class="row mt-3">
            <div class="footer m-auto">
               <p class="text-muted">EGPAF &copy;2021</p>
            </div>
        </div>
            </div>
        </div>
    </div>

    </div>
    </div>

    </div>
    </div>
    
    
    <script src="/javascripts/scripts/main_dash.js" type="text/javascript"></script>
</body>

</html>
