<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <title>LIMS</title>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">LIMS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="main m-3">
        <div class="row mt-3 border-bottom">
            <div class="col-3 border-right">
                <div class="m-labs">
                    <h3 class="border-bottom">Molecular Labs</h3>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <button class="btn" url="<%= url_for(action: 'qech', controller: 'home', only_path: false) %>" id="qech">Queen Elizabeth Central Hospital</button>
                        </li>
                        <li class="nav-item">
                             <button class="btn" url="<%= url_for(action: 'kch', controller: 'home', only_path: false) %>" id="kch">Kamuzu Central Hospital</button>
                        </li>
                        <li class="nav-item">
                            <button class="btn" url="<%= url_for(action: 'mzuzuch', controller: 'home', only_path: false) %>" id="mzuzuch">Mzuzu Central Hospital</button>
                        </li>
                        <li class="nav-item">
                            <button class="btn" url="<%= url_for(action: 'mzimbadh', controller: 'home', only_path: false) %>" id="mzimbadh">Mzimba District Hospital</button>
                        </li>
                    </ul>
                </div>
                <div class="gxepert-sites mt-3">
                    <h3 class="border-bottom">Genexepert Sites</h3>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <!-- Search form -->
                            <input class="form-control" id="search-lab" type="text" placeholder="Search Site" aria-label="Search">
                        </li>
                        <li class="nav-item  ml-2 mt-2">
                            <button class="btn" id="target" url="<%= url_for(action: 'index', controller: 'home', only_path: false) %>"></button>
                        </li>

                    </ul>
                </div>

            </div>
            <div class="col-9 shadow p-3 mb-5 bg-white rounded">
                <div class="header text-center border-bottom">
                    <h3 id="head-title">LIMS statistics for <span id="lab">xxx lab</span> for the month of <span id="timeline">June 2021</span></h3>
                </div>
                <div class="filter mt-2 border-bottom">
                    <label for="start">Filter Monthly:</label>

                    <input type="month" id="start" name="start" min="1964-03" value="">
                </div>
                <div class="row border-bottom p-2">
                    <div class="col-4 mb-2">
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title" id="total-orders-submitted">10</h5>
                                <p class="card-text border-top">Total Orders Submitted</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 mb-2">
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title" id="total-orders-accepted">9</h5>
                                <p class="card-text border-top">Total Orders Accepted </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 mb-2">
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title" id="total-orders-rejected">1</h5>
                                <p class="card-text border-top">Total Orders Rejected</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3 border-bottom">
                    <div class="col-4 mb-2">
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title" id="total-tests">10</h5>
                                <p class="card-text border-top">Total Tests</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 mb-2">
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title" id="total-tests-verrified">9</h5>
                                <p class="card-text border-top">Total Tests Verrified</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 mb-2">
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title" id="total-tests-with-results">1</h5>
                                <p class="card-text border-top">Total Tests with Results</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 mb-2">
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title" id="total-tests-waiting-results">1</h5>
                                <p class="card-text border-top">Total Tests waiting Results</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 mb-2">
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title" id="total-tests-rejected">1</h5>
                                <p class="card-text border-top">Total Tests Rejected</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 mb-2">
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title" id="total-tests-to-be-started">1</h5>
                                <p class="card-text border-top">Total Tests to be started</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3 border-bottom">
                    <div class="col-6 mb-2 text-center">
                        <p>Sync Status: <span class="text-success"> Online</span></p>
                    </div>
                    <div class="col-6 mb-2 text-center">
                        <p>Last Sync: <span class="bg-secondary text-white p-1">26/05/21 13:30</span></span>
                        </p>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="footer m-auto">
                        <p class="text-muted">Developed by LIMS team</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
    </div>

    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        $(document).ready(function(){
            $('#qech').click(function(){

                url = $('#qech').attr('url');
                hospital = $('#qech').text();
                
                axios.get(url).then(function(response) {
                    data = response.data;
        
                    $('#lab').text(hospital)
                    $('#timeline').text(data.timeline)
                    $("#total-orders-submitted").text(data.total_orders_submitted);
                    $("#total-orders-accepted").text(data.total_orders_accepted);
                    $("#total-orders-rejected").text(data.total_orders_rejected);
                    $("#total-tests-with-results").text(data.total_tests_with_results);
                    $("#total-tests").text(data.total_tests);
                    $("#total-tests-verrified").text(data.total_tests_verrified);
                    $("#total-tests-rejected").text(data.total_orders_rejected);
                    $("#total-tests-waiting-results").text(data.total_tests_waiting_results);
                    $("#total-tests-to-be-started").text(data.total_tests_to_be_started);
                })         
            })

            $('#kch').click(function(){

                url = $('#kch').attr('url');
                hospital = $('#kch').text();
                
                axios.get(url).then(function(response) {
                    data = response.data;
        
                    $('#lab').text(hospital)
                    $('#timeline').text(data.timeline)
                    $("#total-orders-submitted").text(data.total_orders_submitted);
                    $("#total-orders-accepted").text(data.total_orders_accepted);
                    $("#total-orders-rejected").text(data.total_orders_rejected);
                    $("#total-tests-with-results").text(data.total_tests_with_results);
                    $("#total-tests").text(data.total_tests);
                    $("#total-tests-verrified").text(data.total_tests_verrified);
                    $("#total-tests-rejected").text(data.total_orders_rejected);
                    $("#total-tests-waiting-results").text(data.total_tests_waiting_results);
                    $("#total-tests-to-be-started").text(data.total_tests_to_be_started);
                })         
            })

            $('#mzuzuch').click(function(){

                url = $('#mzuzuch').attr('url');
                hospital = $('#mzuzuch').text();
                
                axios.get(url).then(function(response) {
                    data = response.data;
        
                    $('#lab').text(hospital)
                    $('#timeline').text(data.timeline)
                    $("#total-orders-submitted").text(data.total_orders_submitted);
                    $("#total-orders-accepted").text(data.total_orders_accepted);
                    $("#total-orders-rejected").text(data.total_orders_rejected);
                    $("#total-tests-with-results").text(data.total_tests_with_results);
                    $("#total-tests").text(data.total_tests);
                    $("#total-tests-verrified").text(data.total_tests_verrified);
                    $("#total-tests-rejected").text(data.total_orders_rejected);
                    $("#total-tests-waiting-results").text(data.total_tests_waiting_results);
                    $("#total-tests-to-be-started").text(data.total_tests_to_be_started);
                })         
            })

            $('#mzimbadh').click(function(){

                url = $('#mzimbadh').attr('url');
                hospital = $('#mzimbadh').text();
                
                axios.get(url).then(function(response) {
                    data = response.data;
        
                    $('#lab').text(hospital)
                    $('#timeline').text(data.timeline)
                    $("#total-orders-submitted").text(data.total_orders_submitted);
                    $("#total-orders-accepted").text(data.total_orders_accepted);
                    $("#total-orders-rejected").text(data.total_orders_rejected);
                    $("#total-tests-with-results").text(data.total_tests_with_results);
                    $("#total-tests").text(data.total_tests);
                    $("#total-tests-verrified").text(data.total_tests_verrified);
                    $("#total-tests-rejected").text(data.total_orders_rejected);
                    $("#total-tests-waiting-results").text(data.total_tests_waiting_results);
                    $("#total-tests-to-be-started").text(data.total_tests_to_be_started);
                })         
            })
        
            $('#search-lab').keyup(function(){
                    // $('#target').text($(this).val());
                value = $(this).val().toLowerCase();
                for (i = 0; i < data.sites.length; i++) {
                    if(data.sites.length < 1 || data.sites == undefined){

                    }
                    else{
                        if(data.sites[i].toLowerCase().startsWith(value)){
                            $('#target').text(data.sites[i]);
                        }   
                    }  
                }
            });
           $('#target').click(function(){
               hospital = $('#target').text();
               url = $('#target').attr('url')+ `/lims/genexpert/${hospital}`;
            //    + `?${hospital}`;

               console.log(url);
                
                axios.get(url).then(function(response) {
                    data = response.data;
        
                    $('#lab').text(hospital)
                    $('#timeline').text(data.timeline)
                    $("#total-orders-submitted").text(data.total_orders_submitted);
                    $("#total-orders-accepted").text(data.total_orders_accepted);
                    $("#total-orders-rejected").text(data.total_orders_rejected);
                    $("#total-tests-with-results").text(data.total_tests_with_results);
                    $("#total-tests").text(data.total_tests);
                    $("#total-tests-verrified").text(data.total_tests_verrified);
                    $("#total-tests-rejected").text(data.total_orders_rejected);
                    $("#total-tests-waiting-results").text(data.total_tests_waiting_results);
                    $("#total-tests-to-be-started").text(data.total_tests_to_be_started);
                }) 
           }) 
            
  });
   
    </script>
</body>

</html>