<style>
  table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
      display: block;
      position: relative;
      height: 550px;
      overflow: auto;
    }

  td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  }
  .container{
    font-family: arial, sans-serif;
    font-size: 10px;
  }
  .main{
    height: 680px;
  }
  .problematic{
    height: 370px;
    overflow: auto;
  }
  .card-title{
    font-weight: bold;
    font-size: 12px;
  }
  a.problematic-links{
    text-decoration: none;
    color: black;
  }
  a.problematic-links:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  [data-href],[data-href]:hover{
      cursor: pointer;
  }
  [data-href]:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #myInput {
  background-image: url('/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 3px 20px 3px 40px;
  border: 1px solid black;
  margin-bottom: 12px;
}
</style>


<div class="container mt-2" style="height: 40px !important;">
       <div class="header">
         <h2><span>Connectivity Monitoring Tool</span>  <span class="float-right">Today's date: <span id="date-today"></span> </span></h2>
        
       </div>
        <div class="row">
            <div class="col">
                <div class="card main">
                <div class="row p-2">
                  <div class="col-4 synced">
                    <div class="card" style="width: 100%;">
                      <p class="card-title text-center">Deployed Sites</p>
                      <p class="card-text text-center font-weight-bold"><%= @sites.count %></p>
                    </div>
                    <div style="width: 100%;" class="mt-4">
                      <p class="card-title text-center">Sites with their sync status for past 30 days</p>
                      <div class="sites">
                      <input type="text" id="myInput" onkeyup="searchFilter()" placeholder="Search for site name.." title="Type in a name">
                        <table id="sync-statuses">
                          <thead>
                            <tr>
                              <th>Date</th>
                              <th>Site name</th>
                              <th>Problem</th>
                            </tr>
                        </thead>
                          <tbody>
                          <% @get_sync_statuses_past_30_days.each do |site_sync_details|%>
                            <tr data-href='<%= "/site_details/#{site_sync_details[:site_name]}/#{site_sync_details[:site_code]}" %>'>
                              <td><%= site_sync_details[:date] %>  </td>
                              <td> <%= site_sync_details[:site_name] %></td>
                              <td><%= site_sync_details[:remark] %></td>
                            </tr>
                          <% end %>
                        </tbody>
                        </table>
                      </div>
                    </div>
                  </div>

                  <div class="col-8 synced">
                  <div class="card p-2 mt-1" style="width: 100%;">
                      <p class="card-title text-center">Trend past 30 days</p>
                      <div><canvas id="line-chart" width="800" height="250"></canvas></div>
                    </div>
                    <div class="row p-2">
                      <div class="col-4">
                        <div class="card p-2" style="width: 100%;">
                          <p class="card-title text-center">Today's sync stats</p>
                          <div class="d-flex flex-row">
                            <div class="card" style="width: 9rem;">
                              <p class="card-title text-center">Sites synced</p>
                              <p class="card-text text-center font-weight-bold"><%= @today_stats[:synced] %></p>
                            </div>
                            <div class="card ml-1" style="width: 9rem;">
                              <p class="card-title text-center">Unsynced sites</p>
                              <p class="card-text text-center font-weight-bold"><%= @today_stats[:unsynced] %></p>
                            </div>
                          </div>
                        </div>
                        <div class="card p-2 mt-3" style="width: 14rem;">
                          <p class="card-title text-center">Past 30 days problems</p>
                          <div><canvas id="stats"></canvas></div>
                        </div>
                      </div>

                        <div class="col-8 problematic">
                          <div class="card p-2" style="width: 100%;">
                            <p class="card-title text-center">15 persistent unsync sites for the past 30 days</p>
                            <% @x_problematic_sites.each do |site| %>
                            <a class="problematic-links" href='<%= "/site_details/#{site.name}/#{site.site_code}" %>' data-toggle="tooltip" data-placement="top" title="Click to view more">
                              <div class="card m-1" style="width: 100%;">
                                <p class="text-center">
                                  <%= site.name %>
                                </p>
                                <p class="card-text text-center">
                                  <span class="">No. days unsynced:</span>
                                  <span class="font-weight-bold"><%= site.count %></span>
                                </p>
                              </div>
                              </a>
                            <% end %>
                        </div>
                      </div>

                  </div>

                </div>
                    
            </div>
            </div>
        </div>
    </div>

<script>
  $(document).ready(function() {
      const overview_status_data = JSON.parse('<%= raw(@overview_stats.to_json) %>') 
      console.log(overview_status_data)
      const data = {
        labels: [
          'No Network',
          'No data',
          // 'Synced'
        ],
        datasets: [{
          label: 'Sync status Jan 22022',
          data: [overview_status_data['no_network'], 
                overview_status_data['net_avail_no_sync'],
                // overview_status_data['synced']
                ],
          backgroundColor: [
        'rgb(255, 99, 132)',
        'rgb(54, 162, 235)',
        // 'rgb(91, 194, 54)'
      ],
          hoverOffset: 4
        }]
      };
      const config = {
      type: 'doughnut',
      data: data,
      };
      const myChart = new Chart(
        document.getElementById('stats'),
        config
      );
    });
    jQuery(document).ready(function($) {
    $('*[data-href]').on('click', function() {
        window.location = $(this).data("href");
    });
    function getTodayDate(){
      const timeElapsed = Date.now();
      const today = new Date(timeElapsed);
      return today.toDateString();
    }
    const dateToday = document.getElementById("date-today");
    dateToday.innerHTML = getTodayDate();
});
</script>
<script>
$(document).ready(function(){
    const days = JSON.parse('<%= raw(@days.to_json) %>') 
    // const no_network = JSON.parse('<%= raw(@no_network.to_json) %>')
    const unsynced = JSON.parse('<%= raw(@unsynced.to_json) %>')
    const synced = JSON.parse('<%= raw(@synced.to_json) %>')
    // const no_data = JSON.parse('<%= raw(@no_data.to_json) %>')
    const target = JSON.parse('<%= raw(@target.to_json) %>')
    new Chart(document.getElementById("line-chart"), {
            type: 'line',
            data: {
                labels: Object.keys(synced).reverse(),
                datasets: [
                //   { 
                //     data: target.reverse(),
                //     label: "Consolidated",
                //     borderColor: "#3e95cd",
                //     fill: false,
                //     trendlineLinear: {
                //         style: "#3e95cd",
                //         lineStyle: "line",
                //         width: 0.05
                //     }
                // }, 
                // { 
                //     data: Object.values(no_network).reverse(),
                //     label: "No Network",
                //     borderColor: "#8e5ea2",
                //     fill: false,
                //     trendlineLinear: {
                //         style: "#8e5ea2",
                //         lineStyle: "line",
                //         width: 1
                //     }
                // },
                 { 
                    data: Object.values(synced).reverse(),
                    label: "Synced",
                    borderColor: "#3cba9f",
                    fill: false
                },
                { 
                    data: Object.values(unsynced).reverse(),
                    label: "Unsynced",
                    borderColor: "red",
                    fill: false
                }
                //  { 
                //     data: Object.values(no_data).reverse(),
                //     label: "Network but no data",
                //     borderColor: "#e8c3b9",
                //     fill: false
                // }
                ]
            }
            });
    });
</script>
<script>
  function searchFilter() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("sync-statuses");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[1];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }  
    }
  }
</script>