<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/javascripts/jquery-3.5.1.js" type="text/javascript"></script>
    <script src="/javascripts/bootstrap.min.js" type="text/javascript"></script>
 

</head>

<body>
    <nav class="mb-4 navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="<%= url_for(action: 'index', controller: 'home', only_path: false) %>">LIMS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="<%= url_for(action: 'index', controller: 'home', only_path: false) %>">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="<%= url_for(action: 'index', controller: 'data_resolves', only_path: false) %>">Data Resolves <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="container">

        <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col">Data Type</th>
                <th scope="col">Data</th>
                <th scope="col">Site</th>
                <th scope="col">Tracking Number</th>
                <th scope="col">Couch ID</th>
                <th scope="col">Date Created</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
                </tr>
            </thead>
            <tbody>

                <% if !@anomaries.blank? %>
                  <% for item in @anomaries %>
                    
                        <tr>

                            <td><%= item.data_type %></td>
                            <td><%= item.data%></td>
                            <td><%= item.site_name%></td>
                            <td><%= item.tracking_number%></td>
                            <td><%= item.couch_id%></td>
                            <td><%= item.date_created%></td>
                            <td><%= item.status%></td>
                            <td><a href="/resolve/<%= item.id%>">View</a></td>
                          
                        </tr>
                   
                    
                  <% end %>
                <% else %>
                <%end%>
                
            </tbody>
        </table>
       
    </div>
    
    
    <script src="/javascripts/scripts/data-resolve.js" type="text/javascript"></script>
</body>

</html>
